@import './theme';
@import './quotes';
@import './evaluation';
// Layouts
@import './layouts/two_columns';
// Slides
@import 'slides/title';
@import 'slides/currying-2';
@import 'slides/compiles-to-js';
@import 'slides/from-no-red-ink';
@import 'slides/evaluation-bundle-size';

@mixin ligatures {
  text-rendering: optimizeLegibility;
  font-variant-ligatures: normal;
}

pre {
  font-size: 1.1rem;
}

.speaker-controls-notes {
  @include ligatures;
}

html {
  color: var(--white);
}
