.evaluation-scale {
  .scale {
    display: grid;
    grid-template: "worst worse bad good better best";
    width: 80vw;
    height: 10vh;
    margin: auto;
  }

  .scale-element {
    border: none;
    background-color: #00000000;
  }
}
