.evaluation-bundle-size {
  .comparison {
    display: grid;
    grid-template: 'left-col right-col';
  }

  .sub-title {
    text-align: center;
  }

  .language- {
    font-size: 1rem;
  }

  .highlight {
    color: var(--primary-color);
  }
}
